.popup__container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  min-width: 430px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 580px) {
  .popup__container {
    min-width: 282px;
  }
}
