.popup__save-button {
  margin: 0;
  padding: 0;
  min-height: 50px;
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 32px;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 580px) {
  .popup__save-button {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}
